.nopm {
  padding: 0;
  margin: 0;
}

#top-header {
  padding: 0.8rem;
  background: #ffe7d2;
}

#top-header p {
  font-size: 0.7rem;
}

header {
  padding: 0 9rem;
}

header nav {
  padding: 1.3rem;
  border-bottom: 1px solid gray;
}

header nav ul li {
  padding-right: 1.3rem;
}

header nav ul li a {
  color: #635950;
}

header nav ul li a:hover {
  text-decoration: none;
  color: red;
}

header section {
  padding: 5rem 0rem;
}

header section .hero-left {
  padding: 2rem 1rem;
}

header section .hero-left h1 {
  font-size: 3.4rem;
}

header section .hero-left * {
  margin-bottom: 2rem;
}

header section .hero-right img {
  width: 100%;
}

main {
  background: #ffe7d2;
  padding: 0 15rem;
}

main section {
  padding-top: 5rem;
  border-bottom: 1px solid gray;
}

main section * {
  margin-bottom: 3rem;
}

main section .col-12 .box {
  padding: 0 7rem;
}

main section .col-3 img {
  height: 110px;
  width: auto;
}

main section img {
  width: 300px;
}

article {
  padding-top: 5rem;
}

article section {
  padding: 3rem 0;
}

article section .col-6 img {
  width: 100%;
}

article section:last-child {
  background-color: #ffe7d2;
}

article section:last-child * {
  margin-bottom: 1rem;
}

article section:last-child .box {
  background: white;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 2.5rem;
}

article section:last-child .box img {
  width: 35px;
  float: left;
}

article section:last-child .box span * {
  margin-left: 1rem;
}

footer {
  padding: 5rem;
}

footer ul li:first-child {
  font-weight: bold;
  font-size: 1.1rem;
}

footer ul li {
  padding-bottom: 0.4rem;
  font-size: 0.8rem;
}

body {
  color: #635950;
  overflow-x: hidden;
}

